:root
{
    background-color: rgb(200,200,200);
}
img
{
    border: solid;
}
h1
{
    font-weight: bolder;
}
.homelink
{
    font-size:large;
}
h2
{
    text-decoration:underline;
}
h3
{   
    text-decoration:underline;
}